/ATTServerApi.Data/bin
/ATTServerApi.Data/obj
/ATTServerApi.Data.Contracts/bin
/ATTServerApi.Data.Contracts/obj
/ATTServerApi.Data.Mocks/bin
/ATTServerApi.Data.Mocks/obj
/ATTServerApi.Model/bin
/ATTServerApi.Model/obj
/ATTServerApi.Services/bin
/ATTServerApi.Services/obj
/ATTServerApi.Services.Contracts/bin
/ATTServerApi.Services.Contracts/obj
/ATTServerApi.Services.Test/bin
/ATTServerApi.Services.Test/obj
/ATTServerApi.Web/bin
/ATTServerApi.Web/obj
/ATTServerApi.Web.Test/bin
/ATTServerApi.Web.Test/obj
/TestResults