
<!--<div>
        <div id="slot1" style="float: left; height: 245px; width: 60.3%; border: 1px dashed grey">
        
        </div>
        <div id="slot2" style="float: left; height: 245px; width: 19%; border: 1px dashed grey; ">

        </div>
        <div id="slot3" style="float: left; height: 245px; width: 19%; border: 1px dashed grey; ">

        </div>
        <div id="slot4" style="float: left; height: 370px; width: 68.5%; border: 1px dashed grey; ">

        </div>
        <div id="slot5" style="float: left; height: 370px; width: 30%; border: 1px dashed grey; ">

        </div>
    
    </div>-->

<div class="row">
    
    <div class="col-md-8" >    
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title">Other activities</h3>
                <div class="box-tools pull-right">
                    <button class="btn btn-box-tool" data-widget="collapse"><i class="glyphicon glyphicon-minus"></i></button>
                    <button class="btn btn-box-tool" data-widget="remove"><i class="glyphicon glyphicon-remove"></i></button>
                </div>
            </div>
            <div class="box-body no-padding">
                <div id="slot1" style="height: 245px">

                </div>
            </div>
        </div>
    </div>
    
    <div class="col-md-2">
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title">Coding today</h3>
                <div class="box-tools pull-right">
                    <button class="btn btn-box-tool" data-widget="collapse"><i class="glyphicon glyphicon-minus"></i></button>
                    <button class="btn btn-box-tool" data-widget="remove"><i class="glyphicon glyphicon-remove"></i></button>
                </div>
            </div>
            <div class="box-body no-padding">
                <div id="slot2" style="height: 245px">

                </div>
            </div>
        </div>
    </div>
    
    <div class="col-md-2">
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title">Working today</h3>
                <div class="box-tools pull-right">
                    <button class="btn btn-box-tool" data-widget="collapse"><i class="glyphicon glyphicon-minus"></i></button>
                    <button class="btn btn-box-tool" data-widget="remove"><i class="glyphicon glyphicon-remove"></i></button>
                </div>
            </div>
            <div class="box-body no-padding">
                <div id="slot3" style="height: 245px">

                </div>
            </div>
        </div>
    </div>

</div>

<div class="row">

    <div class="col-md-9">
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title">Projects</h3>
                <div class="box-tools pull-right">
                    <button class="btn btn-box-tool" data-widget="collapse"><i class="glyphicon glyphicon-minus"></i></button>
                    <button class="btn btn-box-tool" data-widget="remove"><i class="glyphicon glyphicon-remove"></i></button>
                </div>
            </div>
            <div class="box-body no-padding">
                <div id="slot4" style="height: 245px">

                </div>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title">Techs and tools</h3>
                <div class="box-tools pull-right">
                    <button class="btn btn-box-tool" data-widget="collapse"><i class="glyphicon glyphicon-minus"></i></button>
                    <button class="btn btn-box-tool" data-widget="remove"><i class="glyphicon glyphicon-remove"></i></button>
                </div>
            </div>
            <div class="box-body no-padding">
                <div id="slot5" style="height: 245px">

                </div>
            </div>
        </div>
    </div>


</div>