<section class="content-header">
    <h1>
        Activity time tracker
        <small>Keep track of your performance in work</small>
    </h1>
    
</section>



<div class="col-md-12">
    <div class="info-block">
        <div class="info-text">
            <h3><span class="color-text">Welcome</span> to ATT</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas neque diam, luctus at laoreet in, auctor ut tellus. Etiam enim lacus, ornare et tempor, rhoncus rhoncus sem. Aliquam volutpat arcu et nibh mollis eleifend pharetra lorem scelerisque. Donec vel enim purus, id viverra neque. Cras in velit ante, eget pellentesque sem. Duis tincidunt erat quam.</p>
            
        </div>
    </div>
</div>